*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    
}
body{
   background-color: aqua;
    background-position: center;
    background-size: cover;
}
.menu {
background-color: black;
text-align: center;
}
.menu ul{
    display: inline-flex;
    background-color: black;
}
.menu ul li{
   width: 140px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
i{
    margin-right: 12px;
  
}
.active, .menu ul li:hover{
    background-color: red;
}
.sab-menu {
    display: none;
}
.menu ul li:hover .sab-menu{
    display: block;
    position: absolute;
    margin-top: 15px;
 margin-left: -25px;
}
.sab-menu ul {
    display: block;
    
}
.sab-menu ul li{
    width: 130px;
    font-size: 15px;
    text-align: left;
}